.header {
  margin-bottom: 7vh;
  text-align: center;
  font-size: 3.5vh;
}
.header span {
  position: relative;
  padding-bottom: 1vh;
}
.header span::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  content: '';
  width: 35%;
  height: 0.3vh;
  background-color: var(--main-color);
  transform: translateX(-50%);
}
html {
  --main-color: #ddd8b5;
  --huawei-color: #c7000b;
  --transition-duration: 0.3s;
}
* ::selection {
  background-color: var(--main-color);
  color: #fff;
}
.copyright {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.2vh;
}
body {
  background-color: #f5f5f5;
}
.goods-container {
  padding: 3vh 1vh;
}
.goods-container .card {
  border: none;
  cursor: pointer;
  transition: all var(--transition-duration) ease-in-out;
}
.goods-container .card .card-body {
  padding: 3vh;
}
.goods-container .card .card-body .name,
.goods-container .card .card-body .description {
  margin-bottom: 1vh;
}
.goods-container .card .card-body .name {
  font-size: 3vh;
}
@media (min-width: 1200px) {
  .goods-container .card .card-body .name {
    font-size: 2.5vh;
  }
}
.goods-container .card .card-body .description {
  font-size: 2vh;
}
@media (min-width: 1200px) {
  .goods-container .card .card-body .description {
    font-size: 1.8vh;
  }
}
.goods-container .card .card-body .price {
  margin-top: 1.5vh;
  margin-bottom: 0;
  font-size: 1.8vh;
  color: red;
}
.goods-container .card:hover {
  transform: translateY(-0.5vh);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: #000;
}
.car {
  position: fixed;
  bottom: 10vh;
  right: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vh;
  height: 8vh;
  background-color: #fff;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: var(--main-color);
}
.car.hide {
  opacity: 0.5;
  right: -4vh;
}
.car:hover {
  background-color: var(--main-color);
  color: #fff;
  box-shadow: 0 0.5rem 1rem 2px rgba(0, 0, 0, 0.15);
  transform: translateY(-0.5vh);
  opacity: 1;
}
.car:active {
  transform: translateY(1px);
  box-shadow: 0 0.2rem 1rem 1px rgba(0, 0, 0, 0.1);
}
.car .iconfont {
  font-size: 4vh;
}
