.header {
  margin-bottom: 7vh;
  text-align: center;
  font-size: 3.5vh;
}
.header span {
  position: relative;
  padding-bottom: 1vh;
}
.header span::after {
  position: absolute;
  left: 50%;
  bottom: 0;
  content: '';
  width: 35%;
  height: 0.3vh;
  background-color: var(--main-color);
  transform: translateX(-50%);
}
html {
  --main-color: #ddd8b5;
  --huawei-color: #c7000b;
  --transition-duration: 0.3s;
}
* ::selection {
  background-color: var(--main-color);
  color: #fff;
}
.copyright {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.2vh;
}
.navbar {
  background-color: #fff !important;
  font-size: 2.2vh;
  transition: transform var(--transition-duration) ease-in-out;
}
.navbar.hide {
  transform: translateY(-100%);
}
@media (min-width: 992px) {
  .navbar .navbar-collapse {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
.navbar .navbar-brand {
  display: flex;
  align-items: center;
  margin-right: 0;
  margin-left: 1.5vw;
  padding: 0;
}
.navbar .navbar-brand img {
  height: 8vh;
}
.navbar .navbar-brand span {
  margin-left: 1vh;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3.5vh;
  font-weight: 500;
}
.navbar .navbar-nav {
  gap: 5vh;
}
@media (max-width: 992px) {
  .navbar .navbar-nav {
    margin-top: 3vh;
  }
}
.navbar .navbar-nav .nav-item {
  position: relative;
}
.navbar .navbar-nav .nav-item:hover::after {
  position: absolute;
  left: 50%;
  bottom: -1vh;
  content: '';
  width: 35%;
  height: 0.3vh;
  background-color: var(--main-color);
  transform: translateX(-50%);
}
.navbar .navbar-nav .nav-item .nav-link {
  padding: 0;
}
.carousel {
  margin-bottom: 7vh;
}
.carousel .carousel-indicators button {
  width: 15vh;
  background-color: var(--main-color);
}
.carousel .carousel-indicators button:first-child {
  margin-right: 1vh;
}
.carousel .carousel-indicators button:last-child {
  margin-left: 1vh;
}
@media (max-width: 768px) {
  .carousel .carousel-item img {
    width: 100%;
    height: 35vh;
    object-fit: cover;
  }
  .carousel .carousel-indicators button {
    width: 10vh;
  }
}
.carousel .carousel-control-next-icon,
.carousel .carousel-control-prev-icon {
  width: 4vh;
  height: 4vh;
}
.recommendInfo {
  margin-bottom: 10vh;
}
.recommendInfo .content .imgBox {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.recommendInfo .content .imgBox img {
  transition: transform var(--transition-duration) ease-in-out;
}
.recommendInfo .content .imgBox:hover .textBox {
  bottom: 2.5vh;
}
.recommendInfo .content .imgBox:hover .textBox .readMore {
  opacity: 1;
}
.recommendInfo .content .imgBox:hover .mask {
  opacity: 1;
}
.recommendInfo .content .imgBox:hover img {
  transform: scale(1.05);
}
.recommendInfo .content .imgBox .mask {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
  opacity: 0;
  transition: opacity var(--transition-duration) ease-in-out;
}
.recommendInfo .content .textBox {
  position: absolute;
  z-index: 2;
  bottom: -2vh;
  padding: 0 3vh;
  color: #fff;
  transition: all var(--transition-duration) ease-in-out;
}
.recommendInfo .content .textBox .category {
  margin-bottom: 0.5vh !important;
  font-size: 1.8vh;
}
.recommendInfo .content .textBox .name {
  font-size: 2.7vh;
  font-weight: bold;
}
.recommendInfo .content .textBox .readMore {
  margin-top: 2vh;
  font-size: 1.9vh;
  opacity: 0;
  transition: opacity var(--transition-duration);
}
.recommendInfo .content .textBox .readMore::after {
  content: '>';
  color: red;
  margin-left: 0.5vh;
}
.herb-culture {
  margin-bottom: 7vh;
}
.news {
  margin-bottom: 5vh;
  text-align: center;
}
.news .content .card {
  border-radius: 0;
  border: none;
  background-color: #f8f8f8;
  color: #000;
  cursor: pointer;
}
@media (min-width: 768px) {
  .news .content .card {
    height: 50vh;
  }
}
.news .content .card:hover {
  background-color: #f2f2f2;
}
.news .content .card:hover img {
  transform: scale(1.05);
}
.news .content .card img,
.news .content .card .card-body {
  border-radius: 0;
}
.news .content .card img {
  transition: transform var(--transition-duration) ease-in-out;
}
.news .content .card .card-body {
  padding: 3vh;
}
.news .content .card .card-body .card-title {
  font-weight: bold;
  font-size: 3vh;
}
@media (min-width: 1200px) {
  .news .content .card .card-body .card-title {
    font-size: 2.5vh;
  }
}
.news .content .card .card-body .time {
  margin-top: 1vh;
  font-size: 1.9vh;
}
.news .content .card .card-body .card-text {
  margin-top: 1.5vh;
  font-size: 2vh;
  color: #666;
}
@media (min-width: 1200px) {
  .news .content .card .card-body .card-text {
    font-size: 1.8vh;
  }
}
.news .content .list-group {
  gap: 3vh;
  height: 50vh;
  padding: 4vh;
  border-radius: 0;
  background-color: #f8f8f8;
}
.news .content .list-group .list-group-item {
  padding: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.news .content .list-group .list-group-item h5 {
  font-size: 2.5vh;
  font-weight: bold;
}
@media (min-width: 1200px) {
  .news .content .list-group .list-group-item h5 {
    font-size: 2vh;
  }
}
.news .content .list-group .list-group-item p {
  margin: 0;
  font-size: 2vh;
  color: #666;
}
@media (min-width: 1200px) {
  .news .content .list-group .list-group-item p {
    font-size: 1.8vh;
  }
}
.news .content .list-group .list-group-item:hover {
  color: var(--huawei-color);
}
.news .content .list-group .list-group-item:hover p {
  color: var(--huawei-color);
}
.news .btn-group {
  gap: 10vh;
  margin-top: 5vh;
}
.news .btn-group a {
  padding: 1vh 5vh;
  border-color: #111;
  border-radius: 0 !important;
  font-size: 2vh;
  color: #111;
}
.news .btn-group a:hover {
  background-color: var(--main-color);
  border-color: var(--main-color);
  color: #fff;
}
