// 通用类
.header {
    margin-bottom: 7vh;

    text-align: center;
    font-size: 3.5vh;

    span {
        position: relative;
        padding-bottom: 1vh;

        &::after {
            position: absolute;
            left: 50%;
            bottom: 0;

            content: '';

            width: 35%;
            height: .3vh;
            background-color: var(--main-color);

            transform: translateX(-50%);
        }
    }
}

html {
    --lfz-color: #ddd8b5;
    --huawei-color: #c7000b;
    --huawei-hover-color: #850F12;
    --main-color: var(--huawei-color);

    --transition-duration: .3s;
    --bs-shadow: 0 .5rem 1rem rgba(var(--bs-body-color-rgb), .15);

    caret-color: var(--main-color) !important;
}

* {
    ::selection {
        background-color: var(--main-color);
        color: #fff;
    }
}

::-webkit-scrollbar {
    width: 0;
}

.navbar {
    background-color: #fff !important;

    font-size: 2.3vh;

    transition: transform var(--transition-duration) ease-in-out;

    .navbar-collapse {
        @media (min-width: 992px) {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .navbar-brand {
        display: flex;
        align-items: center;

        margin-right: 0;
        margin-left: 1.5vh;
        padding: 0;

        @media (min-width: 768px) {
            margin-left: 6vh;
        }

        img {
            height: 8vh;
        }

        span {
            margin-left: .6vh;

            font-family: 'Times New Roman', Times, serif;
            font-size: 3.5vh;
            font-weight: 500;
        }
    }

    .navbar-nav {
        gap: 5vh;

        @media (max-width: 992px) {
            margin: 3vh 0;
        }

        .nav-item {
            position: relative;

            &:hover {
                .nav-link {
                    color: var(--main-color);
                }

                &::after {
                    position: absolute;
                    left: 50%;
                    bottom: -1vh;

                    content: '';

                    width: 35%;
                    height: .3vh;
                    background-color: var(--main-color);

                    transform: translateX(-50%);
                }
            }

            .nav-link {
                padding: 0;
            }
        }
    }

    .dropdown {
        .dropdown-menu {
            a {
                padding: 1vh 1vw;
            }
        }
    }

    .flicker {
        @keyframes flicker {
            to {
                // opacity: 0.1;
                color: var(--main-color);
            }
        }

        animation: flicker .2s infinite alternate;
    }
}

.copyright {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.9vh;

    a {
        transition: all var(--transition-duration);

        &:hover {
            color: #000;
            text-decoration: underline;

            i {
                color: #c71d23;
            }
        }
    }
}