.navbar {
    background-color: #fff !important;

    font-size: 2.2vh;

    transition: transform var(--transition-duration) ease-in-out;

    &.hide {
        transform: translateY(-100%);
    }

    .navbar-collapse {
        @media (min-width: 992px) {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .navbar-brand {
        display: flex;
        align-items: center;

        margin-right: 0;
        margin-left: 1.5vh;
        padding: 0;

        @media (min-width: 768px) {
            margin-left: 6vh;
        }

        img {
            height: 8vh;
        }

        span {
            margin-left: .6vh;

            font-family: 'Times New Roman', Times, serif;
            font-size: 3.5vh;
            font-weight: 500;
        }
    }

    .navbar-nav {
        gap: 5vh;

        @media (max-width: 992px) {
            margin-top: 3vh;
        }

        .nav-item {
            position: relative;

            &:hover {
                &::after {
                    position: absolute;
                    left: 50%;
                    bottom: -1vh;

                    content: '';

                    width: 35%;
                    height: .3vh;
                    background-color: var(--main-color);

                    transform: translateX(-50%);
                }
            }

            .nav-link {
                padding: 0;
            }
        }
    }

    .flicker {
        @keyframes flicker {
            to {
                // opacity: 0.1;
                color: var(--main-color);
            }
        }

        animation: flicker .2s infinite alternate;
    }
}

.carousel {
    margin-bottom: 7vh;

    .carousel-indicators {

        button {
            &:first-child {
                margin-right: 1vh;
            }

            &:last-child {
                margin-left: 1vh;
            }

            width: 15vh;
            background-color: var(--main-color);
        }
    }

    .carousel-item img {
        width: 100%;
        height: 75vh;
        object-fit: cover;
    }
    
    @media (max-width: 768px) {
        .carousel-item img {
            width: 100%;
            height: 35vh;
            object-fit: cover;
        }

        .carousel-indicators button {
            width: 10vh;
        }
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 4vh;
        height: 4vh;
    }
}

.recommendInfo {
    margin-bottom: 10vh;

    .content {
        .imgBox {
            position: relative;
            overflow: hidden;
            cursor: pointer;

            img {
                transition: transform var(--transition-duration) ease-in-out;
            }

            &:hover {
                .textBox {
                    bottom: 2.5vh;

                    .readMore {
                        opacity: 1;
                    }
                }

                .mask {
                    opacity: 1;
                }

                img {
                    transform: scale(1.05);
                }
            }

            .mask {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
                opacity: 0;
                transition: opacity var(--transition-duration) ease-in-out;
            }
        }

        .textBox {
            position: absolute;
            z-index: 2;
            bottom: -2vh;

            padding: 0 3vh;

            color: #fff;

            transition: all var(--transition-duration) ease-in-out;

            .category {
                margin-bottom: .5vh !important;

                font-size: 1.8vh;
            }

            .name {
                font-size: 2.7vh;
                font-weight: bold;
            }

            .readMore {
                margin-top: 2vh;
                font-size: 1.9vh;
                opacity: 0;
                transition: opacity var(--transition-duration);

                &::after {
                    content: '>';
                    color: red;
                    margin-left: .5vh;
                }
            }
        }
    }
}

.herb-culture {
    margin-bottom: 7vh;

    @media (max-width: 768px) {
        .imgBox img {
            width: 100%;
            height: 35vh;
            object-fit: cover;
        }
    }
}

.news {
    margin-bottom: 5vh;
    text-align: center;

    .content {
        .card {
            border-radius: 0;
            border: none;
            background-color: #f8f8f8;

            color: #000;

            cursor: pointer;

            @media (min-width: 768px) {
                height: 50vh;
            }


            &:hover {
                background-color: #f2f2f2;

                img {
                    transform: scale(1.05);
                }
            }

            img,
            .card-body {
                border-radius: 0;
            }

            img {
                transition: transform var(--transition-duration) ease-in-out;
            }

            .card-body {
                padding: 3vh;

                .card-title {
                    font-weight: bold;
                    font-size: 3vh;

                    @media (min-width: 1200px) {
                        font-size: 2.5vh;
                    }
                }

                .time {
                    margin-top: 1vh;
                    font-size: 1.9vh;
                }

                .card-text {
                    margin-top: 1.5vh;
                    font-size: 2vh;
                    color: #666;

                    @media (min-width: 1200px) {
                        font-size: 1.8vh;
                    }
                }
            }
        }

        .list-group {
            gap: 3vh;

            height: 50vh;
            padding: 4vh;

            border-radius: 0;
            background-color: #f8f8f8;

            .list-group-item {
                padding: 0;

                border: none;
                background-color: inherit;

                cursor: pointer;

                h5 {
                    font-size: 2.5vh;
                    font-weight: bold;

                    @media (min-width: 1200px) {
                        font-size: 2vh;
                    }
                }

                p {
                    margin: 0;

                    font-size: 2vh;
                    color: #666;

                    @media (min-width: 1200px) {
                        font-size: 1.8vh;
                    }
                }

                &:hover {
                    color: var(--huawei-color);

                    p {
                        color: var(--huawei-color);
                    }
                }
            }
        }
    }

    .btn-group {
        gap: 10vh;

        margin-top: 5vh;

        a {
            padding: 1vh 5vh;

            border-color: #111;
            border-radius: 0 !important;

            font-size: 2vh;
            color: #111;

            &:hover {
                background-color: var(--main-color);
                border-color: var(--main-color);
                color: #fff;
            }
        }
    }
}